[user]
	name = Jared Tong
	email = tongrhj@users.noreply.github.com
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=2 -RFX
[alias]
	undo = reset --soft HEAD^
	upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[help]
	autocorrect = 10
[push]
	default = simple
[merge]
	conflictstyle = diff3
[credential]
	helper = osxkeychain
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[gpg]
	program = /usr/local/bin/krgpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
